@charset "UTF-8";
body{
	text-align: center;
	background-color:black;
	color: limegreen;
	font-family: Arial;
}
.textBox{
	height: 25px;
	background-color: #000;
	color: limegreen;
	border:2px double limegreen;
}
.selectBox{
	width: 40px;
	height: 20px;
	color: limegreen;
	background-color: #000;
	
}
.successMessage{
	font-weight: lighter;
}
.errorMessage{
	color: red;
	font-weight: lighter;
}
.btn{
	width: 100px;
	height: 40px;
	border-radius:10px;
	background-color: limegreen;
	color:#000;
	font-weight:900;
	border: 6px outset darkgreen;
}
.resetBtn{
	width: 100px;
	height: 40px;
	border-radius:10px;
	background-color:red;
	border: 6px outset darkred;
	color:black;
	font-weight:900;
}
.deleteBtn{
	width: 100px;
	height: 40px;
	border-radius:10px;
	background-color: orange;
	border: 6px outset darkorange;
	color:black;
	font-weight:900;
}